*{
    margin: 0;
    padding: 0;
}
.mainwrapper{
    height: 35em;
    width: 50%;
    border: 1px solid black;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    border-radius: 4px;
}
.header{
 height: 100px;
 width: 100%;
 background-color:black;
 color: #fff;
 text-align: center;
 text-decoration: underline;
}
.fieldwrapper{
    width: 30em;
    height: 20em;
    border: 1px solid black;
    position: relative;
    left: 15%;
    top: 10%;
    padding-left:15px;
    padding-top: 8px;
    border-radius: 4px;

}
.fieldwrapper input{
    width: 25px;
    border: none;
}
#scoreboard{
    display: flex;
    column-gap:16.5em;
}
main{
    display: flex;
    column-gap: 9em;
}
main div{
    width: 10em;
    height:10em;
    border: 1px solid black;
    border-radius: 4px;
}
.buttonwrap{
    display: flex;
    column-gap: 2em;
    position: relative;
    left: 10%;
}
.buttonwrap div{
    width: 5em;
    height: 5em;
    border: 1px solid black;
    margin-top: 3em;
    border-radius: 4px;
}
.center{
    width: 5em;
    height: 5em;
    border: none;
    position: relative;
    top: 55%;
    left: 20%;
    padding: 10px;
    text-align: center;
    transform: scale(3);
}
.center1{
    width: 5em;
    height: 5em;
    border: none;
    position: relative;
    top: 55%;
    left: 20%;
    padding: 10px;
    text-align: center;
    transform: scale(3);
}